@page
@model HomeService.Endpoints.RazorPages.Pages.Service.IndexModel
@{
}
<section class="cats-filters py-3">
    <div class="container">
        <div class="row justify-content-between align-items-center">

            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="Goodup-all-drp">
                </div>
            </div>
</section>
<div class="clearfix"></div>
<!-- ============================ Search Tag & Filter End ================================== -->
<!-- ============================ Main Section Start ================================== -->
<section class="gray py-5">

    <!-- Item Wrap Start -->
    <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">

        <!-- row -->
        <div class="row justify-content-center g-2">

            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="d-block grouping-listings">
                    <div class="d-block grouping-listings-title">
                        <h5 class="ft-medium mb-3">نتایج یافت شده</h5>
                    </div>


                    

                    @foreach(var service in Model.ServiceCategory)
                    {


                        <a asp-route-id="@service.Id" asp-page="DetailService" class="text-dark fs-md">
                          <div class="grouping-listings-single">
                        <div class="vrt-list-wrap">
                            <div class="vrt-list-wrap-head">
                                <div class="vrt-list-thumb">
                                    <div class="vrt-list-thumb-figure">


                                                @if (string.IsNullOrEmpty(service.ImagePath))
                                                {
                                                    <img src="~/Images/ServiceCategory/IeKrEgl6K91vwymznimqskAsIGpAxwvPC7rGK005.jpg" class="img-fluid" alt="" />
                                                }
                                                else
                                                {
                                                    <img src="@service.ImagePath" class="img-fluid" alt="" />
                                                }









                                        
                                    </div>
                                </div>
                                <div class="vrt-list-content">
                                    <h4 class="mb-0 ft-medium">
                                                <a asp-route-id="@service.Id" asp-page="DetailService" class="text-dark fs-md">
                                                    @service.Title
                                        <span class="verified-badge">
                                            <i class="fas fa-check-circle"></i></span>
                                            </a>
                                            </h4>
                                    <div class="Goodup-ft-first">
                                        <div class="Goodup-rating">
                                            <div class="Goodup-rates">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="Goodup-price-range">
                                            <span class="small ft-medium">34 نظر</span>
                                        </div>
                                    </div>
                                    <div class="vrt-list-features mt-2 mb-2">
                                    </div>
                                    <div class="vrt-list-sts">
                                        <p class="vrt-qgunke"><span class="ft-bold d14ixhs">دسته بندی : </span>@service.SubCategoryTitle</p>
                                    </div>

                                    <div class="vrt-list-desc">
                                            <p class="vrt-qgunke"><span class="ft-bold d14ixhs">قیمت پایه : </span>@service.BasePrice</p>
                                    </div>

                                            <div class="vrt-list-desc">
                                                <p class="vrt-qgunke"><span class="ft-bold d14ixhs">تعداد بازدید : </span>@service.VisitCount</p>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </a>







                    }

                  






                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span class="fas fa-arrow-circle-right"></span>
                            <span class="sr-only">قبل</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item active"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">18</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span class="fas fa-arrow-circle-left"></span>
                            <span class="sr-only">بعد</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="list-411">
                    <div class="list-412">
                        <h4 class="ft-bold mb-0 ff-second">نمی توانید کسب و کار را پیدا کنید؟</h4>
                        <span>افزودن درخواست GetService همیشه رایگان است.</span>
                    </div>
                    <div class="list-413">
                        <a class="btn text-light theme-bg rounded" href="#">ثبت آگهی</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- row -->

    </div>

    </div>
    </div>
</section>
