@page
@model HomeService.Endpoints.RazorPages.Pages.SubCategory.IndexModel
@{
}

<div class="row align-items-center mt-3 mb-3">





    @if (Model.SubCategories is not null)
    {



        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="sec_title position-relative text-center mb-5">
                    <h4 class="ft-bold ff-second">@Model.SubCategories[0].CategoryTitle</h4>
                </div>
            </div>
        </div>



        @foreach (var subCategory in Model.SubCategories)
        {



            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="Goodup-img-catg-wrap">
                    <div class="Goodup-img-catg-thumb text-center">
                        <a asp-page="/Service/Index" asp-route-id="@subCategory.Id">
                            @if (string.IsNullOrEmpty(subCategory.ImagePath))
                            {
                                <img style="width:fit-content" src="~/Images/SubCategory/IeKrEgl6K91vwymznimqskAsIGpAxwvPC7rGK005.jpg" class="img-fluid" alt="">
                            }
                            else
                            {
                                <img style="width:fit-content" src="@subCategory.ImagePath" class="img-fluid" alt="">
                            }
                        </a>
                    </div>
                    <div class="Goodup-img-catg-caption">
                        <h4 class="fs-md mb-0 ft-medium m-catrio">@subCategory.Title</h4>
                        <a asp-page="/Service/Index" asp-route-id="@subCategory.Id" class="Goodup-cat-arrow"><i class="lni lni-arrow-left-circle"></i></a>
                    </div>
                </div>
            </div>


        }

    }
       


    
 

</div>
